<h1>FAQ Page</h1>
	<ul>
		<li>Is There a Free Version? Yes Absolutely !!</li>
		<li>Is Sup[port Service Available ? Yes our support staff are available 24*7</li>
		<li>Contact Options ? Email us - <a href="mailto:nishithsavla005@gmail.com">nishithsavla005@gmail.com</a></li>
	</ul>
	